<!DOCTYPE html>
<html ng-app="fitster">

<head>
  <title>Fitster</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-resource.min.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  <script src="/javascripts/exercises/exercises.controller.js"></script>
  <script src="/javascripts/exercises/exercises.module.js"></script>
  <script src="/javascripts/exercises/index.controller.js"></script>
  <script src="/javascripts/exercises/show.controller.js"></script>
  <script src="/javascripts/exercises/exercises.factory.js"></script>
  <script src="/javascripts/exercises/bls.factory.js"></script>
  <script src="/javascripts/exercises/bls.controller.js"></script>
</head>

<body >
  <h1><a data-ui-sref="exercises"><%= title %></a></h1>
  <div data-ui-view></div>




</body>


</html>
