<h2>Create Exercise</h2>

<form>
  <input placeholder="Exercise" data-ng-model="ExerciseNewViewModel.exercise.exerciseName" />
  <input placeholder="Count" data-ng-model="ExerciseNewViewModel.exercise.exerciseCount" />
  <button type="button" data-ng-click="ExerciseNewViewModel.create()">Create</button>
</form>
